@model BookManager.Domain.Models.Author;

@{
    ViewData["Title"] = "New Author";
}

<div class="container p-4">
    <div class="row pb-2">
        <form asp-action="Create" method="post" class="col-md-6 ms-auto me-auto border border-primary p-3">
            <h4>New Author</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>
            <div class="mb-2">
                <label asp-for="Name" class="col-form-label"></label>
                <input class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Email" class="col-form-label"></label>
                <input class="form-control" asp-for="Email" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="mb-2">
                <label asp-for="PhoneNumber" class="col-form-label"></label>
                <input class="form-control" asp-for="PhoneNumber" />
                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
            </div>            

            <button class="btn btn-sm btn-success" type="submit"><i class="bi bi-save-fill"></i>&nbsp;Save</button>
            <a asp-controller="Authors" asp-action="Index" class="btn btn-sm btn-light"><i class="bi bi-arrow-left-circle-fill"></i>&nbsp;Back to List</a>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}

