@model BookManager.Web.ViewModels.Users.UserLogin;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<div class="container p-4">
    <div class="row pb-2">
        <form asp-action="Login" method="post" class="col-md-6 ms-auto me-auto border border-primary p-3">
            <h4>User Login</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>
            <div class="mb-2">
                <label asp-for="UserName" class="col-form-label"></label>
                <input class="form-control" asp-for="UserName" />
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Password" class="col-form-label"></label>
                <input class="form-control" asp-for="Password" type="password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <button class="btn btn-sm btn-success" type="submit"><i class="bi bi-save-fill"></i>&nbsp;Login</button>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}

